body {
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-div {

}

img {
    border-radius: 18px;
    max-width: 300px;
    max-height: 300px;
}

#tooltip {
    position: absolute;
    display: none; /* Hidden by default */
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none; /* prevents tooltip from blocking mouse events */
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    max-width: 200px;
}